# List of the busiest airports in Europe

In [51]:
import pandas as pd

In [52]:
# URL
url = "https://en.wikipedia.org/wiki/List_of_the_busiest_airports_in_Europe"

In [53]:
# Read table
tables = pd.read_html(url)

# Specifiy table
airports_table = tables[1]
airports_table = airports_table.drop(index=0)

In [54]:
print(airports_table.head())

  Rank 2023 Rank change 2022–2023       Country  \
  Rank 2023 Rank change 2022–2023       Country
1         2                     1       Turkey1
2         3                   NaN       France1
3         4                   NaN  Netherlands1
4         5                   NaN        Spain1
5         6                   NaN      Germany1

                                Airport City served        Passengers  \
                                Airport City served              2023
1                      Istanbul Airport    Istanbul     76,236,980[3]
2             Charles de Gaulle Airport       Paris  67,421,316[5][6]
3            Amsterdam Airport Schiphol   Amsterdam     61,889,586[8]
4  Adolfo Suárez Madrid–Barajas Airport      Madrid    60,220,984[10]
5             Frankfurt am Main Airport   Frankfurt    59,359,539[12]

                      Change Δ 2023/2022
                 2022                  %      People
1       64,486,178[4]               18.2  11750802.0
2       57,474,033[7]               17.3   9947283.0
3       52,472,188[9]               17.9   9417398.0
4      50,633,759[11]               18.9   9587225.0
5  48,923,474[13][14]               21.3  10436065.0

In [55]:
# Show table as DataFrame
airports_table

    Rank 2023 Rank change 2022–2023           Country  \
    Rank 2023 Rank change 2022–2023           Country
1           2                     1           Turkey1
2           3                   NaN           France1
3           4                   NaN      Netherlands1
4           5                   NaN            Spain1
5           6                   NaN          Germany1
..        ...                   ...               ...
96         97                     6           Italy13
97         98                   NaN        Lithuania1
98         99                     3           Russia9
99        100                   new  United Kingdom12
100       101                   NaN           Greece5

                                  Airport  City served           Passengers  \
                                  Airport  City served                 2023
1                        Istanbul Airport     Istanbul        76,236,980[3]
2               Charles de Gaulle Airport        Paris     67,421,316[5][6]
3              Amsterdam Airport Schiphol    Amsterdam        61,889,586[8]
4    Adolfo Suárez Madrid–Barajas Airport       Madrid       60,220,984[10]
5               Frankfurt am Main Airport    Frankfurt       59,359,539[12]
..                                    ...          ...                  ...
96                          Turin Airport        Turin       4,531,187[109]
97          Vilnius International Airport      Vilnius  4,406,019[111][112]
98                      Khrabrovo Airport  Kaliningrad       4,300,625[113]
99          Liverpool John Lennon Airport    Liverpool   4,193,623[115][16]
100           Corfu International Airport        Corfu        4,068,053[82]

                        Change Δ 2023/2022
                   2022                  %      People
1         64,486,178[4]               18.2  11750802.0
2         57,474,033[7]               17.3   9947283.0
3         52,472,188[9]               17.9   9417398.0
4        50,633,759[11]               18.9   9587225.0
5    48,923,474[13][14]               21.3  10436065.0
..                  ...                ...         ...
96       4,193,881[110]                8.0    337306.0
97       3,915,960[111]               12.5    490059.0
98       3,742,387[114]               14.9    558238.0
99         3,490,844[2]               20.1    702779.0
100   3,749,106[14][82]                8.5    318947.0

[100 rows x 9 columns]

In [56]:
# Save table as csv
# airports_table.to_csv("busiest_airports_in_europe.csv", index=False)