In [2]:
import psycopg2
from datetime import datetime

In [3]:
AWS_REGION="us-east-1c"
RDS_PASSWORD="Pw_test123"
SECURITY_GROUP_ID="sg-04d316273f233580c"
RDS_USER="postgres"
RDS_HOST="database-1.cmqql8v8h1t6.us-east-1.rds.amazonaws.com"
S3_BUCKET="aviations3"
RDS_DBNAME="database-1"

In [4]:
def connect_to_rds():
    """Connect to the RDS instance."""
    try:
        return psycopg2.connect(
            host=RDS_HOST,
            user=RDS_USER,
            password=RDS_PASSWORD,
            dbname="postgres",
            port=5432  # Default PostgreSQL port
        )
    except Exception as e:
        print({"statusCode": 500, "message": f"Error connecting to RDS: {str(e)}"})
        raise

In [5]:
conn = connect_to_rds()
cursor = conn.cursor()

In [6]:
try:
    # Connect to the default database
    conn = psycopg2.connect(
        host=RDS_HOST,
        user="postgres",
        password=RDS_PASSWORD,
        port=5432,
        dbname="postgres",
    )
 
    # Enable autocommit mode
    conn.autocommit = True
 
    cursor = conn.cursor()
 
    # Query to create a database
    sql = """CREATE DATABASE products"""
 
    # Execute the query
    cursor.execute(sql)
    print("Database has been created successfully !!")
 
except Exception as e:
    print({"statusCode": 500, "message": f"Error connecting to RDS or creating database: {str(e)}"})
 
finally:
    # Clean up resources
    if "cursor" in locals():
        cursor.close()
    if "conn" in locals():
        conn.close()

{'statusCode': 500, 'message': 'Error connecting to RDS or creating database: database "products" already exists\n'}

In [7]:
conn = psycopg2.connect(
        host=RDS_HOST,
        user="postgres",
        password=RDS_PASSWORD,
        port=5432,
        dbname="products",
    )

conn.autocommit = True

cursor = conn.cursor()

In [8]:
cursor.execute(
    """CREATE TABLE IF NOT EXISTS road_traffic (
        id SERIAL PRIMARY KEY,
        date TIMESTAMP,
        city VARCHAR(255),
        road VARCHAR(255),
        length INT,
        speed NUMERIC,
        freeflow NUMERIC,
        jamfactor NUMERIC(2, 1)
    )"""
)

In [10]:
import psycopg2

# Connect to the RDS database
conn = psycopg2.connect(
    host=RDS_HOST,
    user="postgres",
    password=RDS_PASSWORD,
    port=5432,
    dbname="products",
)
conn.autocommit = True

try:
    cursor = conn.cursor()

    # Create the table
    cursor.execute(
        """CREATE TABLE IF NOT EXISTS road_traffic (
            id SERIAL PRIMARY KEY,
            date TIMESTAMP,
            city VARCHAR(255),
            road VARCHAR(255),
            length INT,
            speed NUMERIC,
            freeflow NUMERIC,
            jamfactor NUMERIC(2, 1)
        )"""
    )
    print("Table 'road_traffic' created successfully.")

    # Verify table structure
    cursor.execute(
        "SELECT column_name FROM information_schema.columns WHERE table_name = 'road_traffic' AND table_schema = 'public';"
    )
    columns = cursor.fetchall()

    # Print column names
    print("Columns in 'road_traffic':", [col[0] for col in columns])

except:
    pass

Table 'road_traffic' created successfully.
Columns in 'road_traffic': ['id', 'date', 'city', 'road', 'length', 'speed', 'freeflow', 'jamfactor']

In [11]:
cursor = conn.cursor()

cursor.execute(
    """INSERT INTO road_traffic (date, city, road, length, speed, freeflow, jamfactor)
    VALUES (%s, %s, %s, %s, %s, %s, %s)""",
    (datetime(2024, 1, 1, 6), "London", "J27 M11 Interchange", 13006, 26.1111, 28.8889, 1.4),
)

In [12]:
cursor.execute("SELECT * FROM road_traffic")
result = cursor.fetchall()
result

[(1,
  datetime.datetime(2024, 1, 1, 6, 0),
  'London',
  'J27 M11 Interchange',
  13006,
  Decimal('26.1111'),
  Decimal('28.8889'),
  Decimal('1.4')),
 (2,
  datetime.datetime(2024, 1, 1, 6, 0),
  'London',
  'J27 M11 Interchange',
  13006,
  Decimal('26.1111'),
  Decimal('28.8889'),
  Decimal('1.4')),
 (3,
  datetime.datetime(2024, 1, 1, 6, 0),
  'London',
  'J27 M11 Interchange',
  13006,
  Decimal('26.1111'),
  Decimal('28.8889'),
  Decimal('1.4'))]

In [13]:
try:
    cursor = conn.cursor()

    # Drop the road_traffic table if it exists
    cursor.execute("DROP TABLE IF EXISTS road_traffic;")
    print("Table 'road_traffic' deleted successfully.")

except Exception as e:
    print(f"Error: {e}")
finally:
    cursor.close()
    conn.close()

Table 'road_traffic' deleted successfully.

In [14]:
cursor.execute("SELECT * FROM road_traffic")

InterfaceError: cursor already closed